<div *ngIf="digimonList">
    <h3>Digimon List</h3>
    <div *ngFor="let digimon of digimonList">
        <h4>{{ digimon.name }}</h4>
        <p>{{ digimon.level }}</p>
        <img [src]="digimon.img" alt="{{ digimon.name }}" />
    </div>
</div>
